<launch>
  <!--- Run unicycle simulator node -->
  <node pkg="proportional_control" type="unicycle_kin_sim" respawn="false" name="unicycle_kin_sim" output="screen">
    <rosparam file="$(find proportional_control)/config/unicycle_kin_sim.yaml" command="load" />
    <rosparam param="/use_sim_time">true</rosparam>
  </node> 

  <!--- Run linerizing controller node -->
  <node pkg="proportional_control" type="unicycle_kin_trajctrl" respawn="false" name="unicycle_kin_trajctrl" output="screen">
    <rosparam file="$(find proportional_control)/config/unicycle_kin_sim.yaml" command="load" />
  </node> 

  <node name="record" pkg="rosbag" type="record" args="-a --duration=8 -O $(find proportional_control)/bags/new_simulation_bag.bag">
  </node>
  
</launch>
