<launch>
<!-- define parameters file -->
<rosparam file="$(find ros_basics)/config/ros_basics_params.yaml" command="load"/>

<!-- start system_clock node -->
<node pkg="ros_basics" type="system_clock_node" name="my_system_clock" output="screen"/>

<!-- start N = 2 counter nodes -->
<node pkg="ros_basics" type="counter_node" name="counter_1" output="screen"/>
<node pkg="ros_basics" type="counter_node" name="counter_2" output="screen"/>

<!-- start sumup node -->
<node pkg="ros_basics" type="sumup_node" name="my_sumup" output="screen"/>
</launch>