<launch>
  <!--- Run single track simulator node -->
  <node pkg="car_simulator" type="car_sim" respawn="false" name="car_sim" output="screen">
    <rosparam file="$(find car_simulator)/config/car_simulator.yaml" command="load" />
    <rosparam param="/use_sim_time">true</rosparam>
  </node> 

  <!--- Run test single track simulator node -->
  <node pkg="car_simulator" type="test_simple_car" respawn="false" name="test_simple_car" output="screen">
  </node> 
</launch>
