<launch>
  <!--- Run unicycle simulator node -->
  <node pkg="simulator" type="unicycle_kin_sim" respawn="false" name="unicycle_kin_sim" output="screen">
    <rosparam file="$(find simulator)/config/unicycle_kin_sim.yaml" command="load" />
    <rosparam param="/use_sim_time">true</rosparam>
  </node> 

  <!--- Run test unicycle simulator node -->
  <node pkg="simulator" type="test_circumference_unicycle_kin" respawn="false" name="test_circumference_unicycle_kin" output="screen">
  </node> 

  <node name="record" pkg="rosbag" type="record" args="-a --duration=5.2 -O $(find simulator)/bags/simulation_bag.bag">
  </node>
  
</launch>
